@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  transition:
    background-color 0.3s,
    border 0.3s;
}

html {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  ::-webkit-scrollbar-thumb {
    background: #9ca3af;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
}

html.dark {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #3f3f46;
  }

  ::-webkit-scrollbar-thumb {
    background: #1f2937;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #111827;
  }
}

.FormRow:has(button) {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.font-sono {
  font-family: var(--fontFamily_Sono);
}

.recharts-pie-label-text {
  font-weight: 600;
}

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: var(--color-grey-300);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid #4f46e5;
  outline-offset: -1px;
}

.paddingRight {
  padding-right: 12px;
}

.nprogress .bar {
  height: 2px;
  width: 100%;
  background-color: #4f46e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
}
